nogit/
academic/
data/
env/
env_linux/
.vscode/
.idea/
bachelor.code-workspace
notebooks/
catalog/

**/__pycache__
**/.claude
**/opalsLog*
**/opalsError*
**/tmp*
**/*.ipynb*
**/*.egg*
**/*.odm
**/.pytest_cache
**/*.png

*CLAUDE.md
*.yaml
*.yml
*.txt

!sample_configs/**/*.yaml
!config.yaml
!stac/catalog
